.App {
    text-align: center;
}

.CartApp {
    text-align: center;
}

.item-card {
    padding: 10px;
    margin: 5% auto;
    width: 20%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 16px;
}

.item-button {
    margin: 8%;
    border-radius: 4px;
}

.post-card {
    padding: 10px;
    margin: 4% auto;
    width: 70%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.user-card {
    padding: 10px;
    margin: 4% auto;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
